.agent {
  padding: 20px;
  .breadcrumb {
    width: 100%;
    height: 44px;
    padding: 0;
    padding-top: 13px;
    padding-bottom: 10px;
  }
  .customers {
    width: 100%;
    height: 117px;
    background: #fff;
    padding: 10px 0;
    .new-customer {
      margin-right: 7px;
      .btn-new-customer {
        width: 120px;
        height: 97px;
        background: #fff;
      }
    }
    
    .carousel {
      position: relative;
      margin-left: 127px;
      background: red;
      width: 790px;
      .p-left {
        padding: 0;
        width: 15px;
        position: absolute;
        left: -10px;
        top: 40px;
      }
      .p-right {
        padding: 0;
        width: 15px;
        position: absolute;
        right: 100px;
        top: 40px;
      }
      .institutional-clients {
        margin-right: 7px;
        .btn-new-customer {
          width: 187px;
          height: 97px;
          border-radius: 2px;
          background: #F3FAF6;
          position: relative;
          .close {
            position: absolute;
            right: 5px;
            top: 5px;
            font-size: 20px;
          }
          .c-icon {
            font-size: 40px;
            margin-top: 15px;
            margin-bottom: 5px;
            color: #3ca358;
          }
          .person {
            color: #FFBB37;
          }
        }
      }
    }
    .customer-share {
      width: 220px;
      height: 97px;
      float: right;
      .t-button {
        width: 120px;
        height: 28px;
        padding-left: 0px;
        font-size: 12px;
        .memory {
          padding-left: 5px;
        }
      }
      .service-line {
        height: 50px;
        line-height: 50px;
        font-size: 12px;
      }
    }
  }
  .views-menu {
    background: #fff;
    padding: 12px 20px;
    .menu--light.menu--horizontal > .menu__submenu .menu__submenu-title:hover{
      background-color: #F3FAF6;
    }
    .menu--horizontal li ul.dropdown__menu{
      margin-top: 0px;
    }
    
    .menu--light.menu:after{
      height: 0;
    }
    .menu--horizontal li {
      border-bottom: none;
    }
    .view-content {
      margin-top: 10px;
      .tab-title {
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        background: #F7F7F7;
        padding-left: 25px;
        margin-bottom: 10px;
      }
      
    }
  }
  .view-tree{
    overflow: hidden
  }
  .view-tree-left{
    padding: 20px 20px 20px 0;
    width: 210px;
    float: left;
  }
  .view-tree-right{
    float: left;
    width: 100%;
    margin-left: -210px;
    padding-left: 210px;
    .border.row{
      padding: 20px;
      border-left: 1px solid #E4EBEA;
      .form-group *{
        color: #455155;
        font-size: 12px;
      }
    }
    &.full{
      width: 100%;
      margin-left: 0;padding-left: 0;
    }
  }
}
.wrap-green-layout .views-menu .menu--vertical .menu__submenu .dropdown__menu .menu__item{
  padding-left: 20px;
}